<div class="row contenedor">
     <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/2481/2481723.png" alt="Card image cap0" width="100px" height="150px">
        <div class="card-body">
          <p class="card-text">Formamos conductores con comportamientos seguros en la vía, vialmente responsables.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/2916/2916170.png" alt="Card image cap1" width="80px" height="150px">
        <div class="card-body">
          <p class="card-text">Nuestro centro de enseñanza certifica categorias B1 y C1.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://www.serficenterseguros.com/cursos-conduccion/public/img/carro.png" alt="Card image cap2" width="80px" height="150px">
        <div class="card-body">
          <p class="card-text">Contamos con personal altamente calificado para instruir a los aprendices de manera optima.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2012/04/01/18/56/attention-24033_640.png" alt="Card image cap3" width="30px" height="180px">
        <div class="card-body">
          <p class="card-text">Estamos comprometidos con el correcto aprendizaje, entregando conductores muy bien capacitados comprometidos con la inteligencia vial.</p>
        </div>
      </div>
</div>
